@media screen and (max-width: 1100px) {
    .navigation{
        flex-direction: column;
        margin-bottom: 23px;
    }

    .nav-left{
        /* display: flex; */
        flex-direction: column;
        text-align: center;
    }

    .content-right{
        display: none;
    }

    .home-article{
        flex-direction: column;
    }

    .home-article-img{
        text-align: center;
    }

    .year-box{
        display: flex;
        left: 60vw;
        top: 25px;
        font-size: 11px;
    }

    .year-box div{
        padding: 0 3px;
        margin: 0;
    }

    .home-article img{
        width: 70vw;
    }

    .form-box input, textarea{
        width: 66vw;
    }

    .row{
        flex-direction: column;
    }

    .post-img{
        height: auto;
    }
}
