*{
    margin: 0;
    padding: 0;
}

.navigation{
    margin-top: 25px;
    font-family: var(--font1);
    /* height: 74px; */
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left{
    display: flex;
}

.nav-left span{
    font-size: 40px;
    padding-top: 6px;
}

.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0px 80px;
    font-size: 25px;
}

.nav-left ul li{
    list-style: none;
    margin: 0px 10px;
    font-family: var(--font2);
    transition: all 0.3s ease-in-out;
}

.nav-left ul li a:hover{
    color: var(--main-bg-color);
    font-weight: bolder;
}

.nav-left ul li a{
    text-decoration: none;
    color: black;
}

.nav-right{
    
}

.content{
    height: 100%;
    /* background-color: royalblue; */
    display: flex;
    margin-top: 18px;
    padding: 14px;
    position: relative;
}

.content::after{
    content: "";
    background-image: url('../img/keyboard-closeup.jpg');
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.2;
}

.content-left{
    font-family: var(--font1);
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 50px;
    z-index: 1;
}

.content-right{
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
}   

.content-right img{
    height: 350px;
    border: 2px solid black;
    border-radius: 400px;
}

.home-articles{
    /* height: 455px; */
    background-color: floralwhite;
    margin-top: 12px;
    padding: 18px;
    position: relative;
}

.year-box{
    position: absolute;
    width: 254px;
    height: 255px;
    /* background-color: red; */
    right: 50px;
    top: 100px;
    font-size: 18px;
}

.year-box div{
    margin: 12px 0px;
}

.home-article{
    display: flex;
    margin: 25px;
}

.home-article img{
    width: 300px;
}

.home-article-content{
    align-self: center;
    padding: 25px;
}

.home-article-content a{
    text-decoration: none;
    color: var(--main-bg-color);
}


.footer{
    height: 50px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.footer a{
    color: white;
}